<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Fundamentals</title>
  </head>
  <body>
    <h1>Hello</h1>
    <div id="app">
      <p>Counter</p>
      <p>{{ count }}</p>
      <button v-on:click="incrementCount">+</button>
      <hr />
      {{ message }}
      <p v-if="message.length % 2 === 0">
        Even number of letters: {{ message }}
      </p>
      <p v-else>Odd number of letters: {{ message }}</p>
      <ul>
        <li v-for="number in listOfNumbers">{{ number }}</li>
      </ul>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          count: 0,
          message: "hi world",
          listOfNumbers: [1, 2, 3, 4, 5],
        };
      },
      methods: {
        incrementCount() {
          this.count++;
        },
      },
    });

    app.mount("#app");
  </script>
</html>
