<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Fundamentals</title>
  </head>
  <body>
    <h1>Hello</h1>
    <div id="app">
      <p>{{ counterTitle }}</p>
      <p>{{ count }}</p>
      <button v-on:click="incrementCount">+</button>
      <p>{{optimizedIncrementAmount}}</p>
      <div>
        <label for="incrementAmount">Increment by:</label>
        <input type="number" v-model="incrementAmount" />
      </div>
      <hr />
      {{ message }}
      <p v-if="message.length % 2 === 0">
        Even number of letters: {{ message }}
      </p>
      <p v-else>Odd number of letters: {{ message }}</p>
      <ul>
        <li v-for="number in listOfNumbers">{{ number }}</li>
      </ul>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          count: 0,
          counterTitle: "Counter standard",
          incrementAmount: 1,
          message: "hi world",
          listOfNumbers: [1, 2, 3, 4, 5],
        };
      },

      computed: {
        displayTitle() {
          if (this.count > 20) {
            return "Counter long number";
          } else {
            return "Counter normal title";
          }
        },
        optimizedIncrementAmount() {
          return this.displayTitle.length * this.incrementAmount;
        },
      },

      methods: {
        incrementCount() {
          this.count += this.optimizedIncrementAmount;
        },
      },
      // watch: {
      //   count(newValue) {
      //     if (newValue > 20) {
      //       this.counterTitle += " very big number";
      //     }
      //   },
      // },
    });

    app.mount("#app");
  </script>
</html>
